/* ---------- specification ---------- */
@import 'normalize.css';

@font-face {
    src: url('../fonts/AeroMaticsRegular.ttf');
    font-family: 'AeroMaticsRegular';
}
@font-face{
    src: url('../fonts/BebasNeueBold.ttf');
    font-family: 'BebasNeueBold';
}
@font-face{
    src: url('../fonts/RobotoBold.ttf');
    font-family: 'RobotoBold';
}
@font-face{
    src: url('../fonts/RobotoMedium.ttf');
    font-family: 'RobotoMedium';
}
@font-face{
    src: url('../fonts/RobotoRegular.ttf');
    font-family: 'RobotoRegular';
}
@font-face {
    src: url('../fonts/fontello.woff');
    font-family: 'fontello';
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 0;
}

/*---items---------*/

.section__title{
    font-family: 'BebasNeueBold';
    font-size: 4.8rem;
    color: #282828;
    width: 100%;
    margin-bottom: 40px;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 23%;
    margin: 10px 0;
    transition: 0.3s;
    border: solid 2px #b7b7b7;
    border-radius: 15px;
    &:hover{
        transition: 0.3s;
        border: solid 2px #24d5ca;
    }
    &__img{
        margin-top: 10px;
    }
    &__name{
        font-family: 'RobotoBold';
        font-size: 2.2rem;
        color: #282828;
        width: 100%;
        margin: 30px 0;
    }
    &__price{
        font-family: 'RobotoRegular';
        font-size: 1.4rem;
        color: #282828;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__price span{
        font-family: 'RobotoBold';
    }
    &__btn{
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        background-color: #24d5ca;
        font-family: 'RobotoRegular';
        font-size: 1.2rem;
        color: #282828;
        border-radius: 15px;
        transition: 0.3s;
        margin-bottom: 10px;
        &:hover{
            transition: 0.3s;
            color: #ffffff;
            background-color: #0d867e;
        }
    }
}


/*-------header----------*/

.header__content{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numbers{
    margin-right: 40px;
    width: 225px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name{
    font-family: 'AeroMaticsRegular';
    font-size: 4rem;
    color: #3e3e3e;
}
.numbers__phone{
    font-family: 'RobotoBold';
    font-size: 2rem;
    color: #282828;
}
.consultation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 50px;
    font-family: 'RobotoMedium';
    font-size: 1.8rem;
    text-transform: uppercase;
    //padding: 10px 30px;
    background-color: #ea355c;
    color: #ffffff;
    border-radius: 25px;
    transition: 0.3s;
    cursor: default;
    &:hover{
        background-color: #b81739;
        transition: 0.3s;
    }
}
.mts{
    width: 21px;
    height: 21px;
}
.velcom{
    width: 26px;
    height: 20px;
}

/*---------main face----------*/
.face{
    background-image: url('../img/header_bg.png');
    margin-top: 25px;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 105px;
}
.face__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.face__nune{
    width: 50%;
}
.face__name{
    z-index: 3;
    text-align: right;
    width: 50%;
    line-height: 100px;
    font-family: 'BebasNeueBold';
    font-size: 11.5rem;
    color: #000;
    & span{
        color: #ffffff;
    }
}

.estimate{
    z-index: 2;
    margin-top: -460px;
    box-shadow: 10px 10px 50px -15px #000000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 350px;
    height: 320px;
    & p{
        margin-left: 25px;
    }
}
.estimate__main{
    line-height: 48px;
    font-family: 'BebasNeueBold';
    font-size: 4.8rem;
    color: #282828;
    & span{
        color: #24d5ca;
    }
}
.estimate__title{
    font-family: 'RobotoRegular';
    font-size: 2.2rem;
    color: #282828;
}
.estimate__btn{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: #ea355c;
    color: #ffffff;
    font-family: 'RobotoRegular';
    font-size: 2.6rem;
    text-transform: uppercase;
    border-radius: 35px;
    transition: 0.3s;
    &:hover{
        background-color: #b81739;
        transition: 0.3s;
    }
}
.face__house{
    z-index: 2;
    position: relative;
    bottom: 250px;
    right: 100px;
}
.face__ground{
    z-index: 1;
    position: relative;
    bottom: 280px;
    right: 40px;
}

/*------------services-------*/

.services__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.services{
    margin: 15px;
    //height: 265px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 30%;
    background: linear-gradient(to top right, #10d1cb, #92edc7);
    transition: 0.5s;
    &:hover{
        background: linear-gradient(to top right, #0d867e, #0d867e);
        //background: #0d867e;
        transition: 0.5s;
    }
    & img{
        margin: 20px 0 45px 0;
    }
    & p{
        margin: 0 10px 15px;
    }
    &:hover p{
        color: #ffffff;
    }
    &__txt{
        font-family: 'RobotoRegular';
        font-size: 2.2rem;
        color: #282828;
    }
    &__title{
        font-family: 'RobotoRegular';
        font-size: 2.2rem;
        color: #282828;
        margin-top: 190px;
    }
    &__title span{
        font-family: 'RobotoBold';
    }
}




/*-------sandy, clay, topas, other---------*/

.sandy__content{
    margin-top: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.clay__content{
    @extend .sandy__content;
}
.topas__content{
    @extend .sandy__content;
}
.other__content{
    @extend .sandy__content;
}
.examples__content{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 200px;
}

/*-------drainage-----*/

.drainage{
    margin-top: -300px;
    background-image: url('../img/bg_water.png');
    background-position: center top;
}
.drainage__content{
    @extend .sandy__content;
    padding-top: 275px;
    padding-bottom: 360px;
}
.drainage__title{
    color: #ffffff;
}
.drainage__item{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 33%;
}
.drainage__categorias{
    font-family: 'RobotoRegular';
    font-size: 2.2rem;
    color: #282828;
}




/*---------factors-------*/
.factors__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.factor{
    margin: 10px;
    height: 200px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.factor__name{
    font-family: 'RobotoRegular';
    font-size: 2.2rem;
    color: #282828;
}



/*-----we-----*/
.we{
    background-image: url('../img/bg_we.png');
    background-position: center top;
}
.we__content{
    padding-top: 250px;
    padding-bottom: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plus{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: start;
    margin: 10px 0;
    &__txt{
        font-family: 'RobotoRegular';
        font-size: 2.8rem;
        color: #282828;
        margin-left: 25px;
    }
}


/*-----form------*/


.form__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.form__title span{
    color: #ea355c;
}
.communications{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-start;
    &__label{
        font-family: 'RobotoRegular';
        font-size: 2.4rem;
        color: #282828;
    }
    &__input{
        width: 440px;
        height: 70px;
        font-family: 'RobotoRegularR';
        font-size: 3rem;
        border: 1px solid #adadad;
        border-radius: 35px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    &__btn{
        font-family: 'RobotoMedium';
        font-size: 4rem;
        color: #ffffff;
        background-color: #ea355c;
        border: none;
        width: 440px;
        height: 100px;
        border-radius: 50px;
        transition: 0.3s;
        margin-top: 15px;
        &:hover{
            background-color: #b81739;
            transition: 0.3s;
        }
    }

}

/*-----footer------*/
.footer{
    margin-top: 125px;
    background-color: #28d7ca;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.rights{
    margin-top: 45px;
    font-family: 'RobotoRegular';
    font-size: 1.6rem;
    color: #282828;
}
.data{
    margin-top: 30px;
    width: 100/12*5%;
    display: flex;
    justify-content: space-between;
    font-family: 'RobotoBold';
    font-size: 2.2rem;
    color: #282828;
}

/*--------overflow------*/

.overflow{
    width: 730px;
    height: 600px;
    display: none;
    position: fixed;
    top: 10%;
    z-index: 55;
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 35%;
        background: linear-gradient(to top right, #10d1cb, #92edc7);
    }
    &__txt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #ffffff;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        & p{
            line-height: 20px;
            margin: 0px 30px;
            font-family: 'RobotoRegular';
            font-size: 1.4rem;
            color: #282828;
        }
    }
    &__shape{
        padding: 3px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: rgba(#000, 0.7);
        position: absolute;
        right: -20px;
        top: -20px;
    }
}

.overflowOpen{
    display: flex;
}

/*-------slider-------*/
.bx-wrapper .bx-next:focus {
    background-position: 0 0;
}
.bx-wrapper .bx-controls-direction a {
    width: 60px;
    height: 60px;
}
.bx-wrapper .bx-next {
    right: -95px;
    background-image: url('../img/arrowNext.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    &:hover{
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}
.bx-wrapper .bx-prev {
    left: -95px;
    background-image: url('../img/arrowPrew.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    &:hover{
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}
